:root {
  --color-bg: #f1f3f5;
  --color-text: #495057;

  --color-primary-700: #1c7ed6;
  --color-primary-600: #228be6;
}

[data-theme='light'] {
  --color-bg: #f1f3f5;
  --color-text: #495057;

  --color-primary-700: #1c7ed6;
  --color-primary-600: #228be6;
}

[data-theme='dark'] {
  --color-bg: #212529;
  --color-text: #f1f3f5;

  --color-primary-700: #1c7ed6;
  --color-primary-600: #339af0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  margin-top: 8rem;
}

.text-highlight {
  color: var(--color-primary-700);
  font-weight: 500;
}

.section-title {
  font-family: 'Lobster', sans-serif;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 700px) {
  body {
    max-width: 54rem;
  }
}
