:root {
  --color-gray-100: #f1f3f5;
  --color-gray-700: #495057;

  --color-blue-600: #228be6;
  --color-blue-700: #1c7ed6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
  color: var(--color-gray-700);
  background-color: var(--color-gray-100);
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  margin-top: 3rem;
}

.text-highlight {
  color: var(--color-blue-700);
  font-weight: 500;
}

.section-title {
  font-family: 'Lobster', sans-serif;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 700px) {
  body {
    max-width: 54rem;
  }
}
