---
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import { getI18n } from '../i18n';
import Layout from '../layouts/Layout.astro';

const i18n = getI18n({ currentLocale: Astro.currentLocale });
---

<Layout title=`${i18n.title}` description={i18n.description}>
  <main class="main">
    <Hero />
    <Experience />
    <Projects />
    <Skills />
    <About />
  </main>
  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      const lang = navigator.language.split('-')[0];
      if (lang === "es" && !window.location.pathname.startsWith('/es')) {
        window.location.href = "/es";
      }
    });
  </script>
</Layout>
