.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.navbar__title {
  font-family: 'Lobster', sans-serif;
  font-size: 3.4rem;
  justify-self: left;
  transition: transform 0.3s ease;
}

.navbar__title-name {
  color: var(--color-primary-700);
}

.navbar__link:link,
.navbar__link:visited {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar__title:hover {
  transform: scale(1.1);
}

.navbar__menu {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}

.option-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: right;
}
