---
import { getRelativeLocaleUrl } from 'astro:i18n';

import DarkLightButton from './DarkLightButton.astro';
import './Header.styles.css';
import LanguageButton from './LanguageButton.astro';
const { currentLocale = 'en' } = Astro;
const homeURL = getRelativeLocaleUrl(currentLocale);
---

<header>
  <nav class="navbar">
    <div class="navbar__title">
      <a class="navbar__link" href={homeURL}
        ><span class="navbar__title-name">Alexis</span>Dev</a
      >
    </div>
    <div class="option-buttons">
      <LanguageButton />
      <DarkLightButton />
    </div>
  </nav>
</header>
