---
import DarkLightButton from './DarkLightButton.astro';
import './Header.styles.css';
---

<header>
  <nav class="navbar">
    <div class="navbar__title">
      <a class="navbar__link" href="/"
        ><span class="navbar__title-name">Alexis</span>Dev</a
      >
    </div>
    <div class="navbar__menu">
      <a class="navbar__link" href="#projects">Projects</a>
      <a class="navbar__link" href="#about">About</a>
      <a class="navbar__link" href="#">Blog</a>
    </div>
    <DarkLightButton />
  </nav>
</header>
