---
import './LanguageButton.style.css';

const { currentLocale = 'en' } = Astro;

const isEnglish = currentLocale === 'en';
---

<a class="link-lang" href={isEnglish ? '/es' : '/'}>
  <span class={isEnglish ? 'selected' : ''}>EN</span>
  /
  <span class={!isEnglish ? 'selected' : ''}>ES</span>
</a>
