---
import './Skills.style.css';
import Icon from './Icon.astro';

const { currentLocale = 'en' } = Astro;
import { getI18n } from '../i18n';
const i18n = getI18n({ currentLocale });
---

<div class="skills">
  <h2 class="section-title">{i18n.skills.title}</h2>
  <ul class="skills__list">
    <li>
      <Icon icon="react" />
    </li>
    <li>
      <Icon icon="typescript" />
    </li> 
    <li>
      <Icon icon="css" />
    </li>
    <li>
      <Icon icon="tailwind" />
    </li>
    <li>
      <Icon icon="node" />
    </li>
    <li>
      <Icon icon="postgresql" />
    </li>
     <li>
      <Icon icon="git" />
    </li>
    <li>
      <Icon icon="docker" />
    </li>
  </ul>
</div>
