---
import Hero from '../../components/Hero.astro';
import { getI18n } from '../../i18n';
import Layout from '../../layouts/Layout.astro';

const i18n = getI18n({ currentLocale: Astro.currentLocale });
---

<Layout title=`${i18n.title}` description={i18n.description}>
  <main class="main">
    <Hero />
  </main>
</Layout>
